h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-weight: normal;
  text-align: center;
}
body{
  height: 100%;
}
.navbar-custom{
  background-color: #159957; 
}
.table{
  margin-top: 50px;
  margin-bottom: 50px;
}
.table-center{
  text-align: center;
}
.footer-text{
  text-align: center;
}

.bg-gray {
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
  padding: 0.8rem;
  overflow: auto;
  word-wrap: normal;
}